:root {
    --color-primary: #fa5114;
    --color-background: #fff;
    --color-background-secondary: hsl(16 48% 97% / 1);
    --color-background-pressed: hsl(16 81% 87% / 30%);

    --color-text: #212121;
    --color-text-secondary: #757575;
}
