:root {
    --color-primary: #fa5114;
    --color-background: #fff;
    --color-background-secondary: #f5f5f5;
    --color-background-pressed: #e0e0e0;

    --color-text: #212121;
    --color-text-secondary: #757575;
}
